.navbar-left
    background: $blue
    position: fixed
    height: 100vh
    &__list
        list-style: none
    &__list-link
        padding: 20px
        display: block
        width: 100%
        text-decoration: none
        color: $green
        text-align: center
        font-size: 18px
        font-weight: bold
        transition: .3s
        &:hover
            color: $white
        & i
            width: 100%
            display: block

.nav-active
    background: $white
    border-radius: 6px 0 0 6px
    border: none
    color: $black
    &:hover
        color: $black
